<div class="container" style="min-height: calc(100vh - 210px);">
  <h1 class="mb-4">Massages...</h1>
  <p class="lead">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia 
    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit 
    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  <a href="/pricing" class="btn btn-primary mb-4">Check Out Our Pricing!</a>

  <h2 class="mb-4">My Mission</h2>
  <p>My mission is to help clients achieve their physical, mental, and emotional well-being through the healing power of massage. My work 
    involves understanding the needs of each client and tailoring my massage techniques to meet those needs. My ultimate goal is to help 
    your clients improve their health and achieve greater balance in their lives.</p>

  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <h2 class="card-title mb-4">Location</h2>
            <p class="card-text mb-4">We are located in Chicago, Illinois. If you want more instructions feel free to give us a call!</p>
            <iframe class="border-0 mb-4" width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.7398648495455!2d-87.7265898237001!3d41.833899371246694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e32390d557d9f%3A0xda9baa73c529c868!2s3239%20S%20Pulaski%20Rd%2C%20Chicago%2C%20IL%2060623!5e0!3m2!1sen!2sus!4v1681837036622!5m2!1sen!2sus"></iframe>
            <a href="/appointments" class="btn btn-primary mx-auto">Book an Appointment</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <h2 class="card-title mb-4">Availability</h2>
            <img src="/availability.jpg" class="card-img-top" alt="Availability">
            <p class="card-text mb-4">I'm available almost every day! Give me a call for assurance.</p>
            <a href="tel:773383476" class="btn btn-primary mx-auto">Call Us!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <h2 class="card-title mb-4">Payments</h2>
            <img src="/payments.jpg" class="card-img-top" alt="Payments">
            <p class="card-text mb-4">Cash Only! As of April 2023, we are still not accepting other forms of payment like Zelle, Paypal, Cashapp, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- h1>Massages...</h1>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

<button><a href="/pricing">Check Out Our Pricing!<a></button>

<h2>My Mission</h2>
<p> My mission is to help clients achieve their physical, mental, and emotional well-being through the healing power of massage. My work involves understanding the needs of each client and tailoring my massage techniques to meet those needs. My ultimate goal is to help your clients improve their health and achieve greater balance in their lives.</p>

<h2>Location</h2>
<p> We are currently located in Chicago, Illinois. **MAP WILL GO HERE** .</p>
<div>
  <iframe 
    width="400" 
    height="250" 
    frameborder="0" 
    scrolling="no" 
    marginheight="0" 
    marginwidth="0" 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.744221443668!2d-80.20978568501952!3d25.794706183609373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0d8b7b8aeb1%3A0x621c9b9d7968c03f!2sSouth%20Beach%20Park%20and%20the%20South%20Beach%20Park%20Pier!5e0!3m2!1sen!2sus!4v1617048963202!5m2!1sen!2sus">
  </iframe>
</div>

<button>
<a href="/appointments">Book an Appointment<a>
</button>


<h2>Availability</h2>
<p>Im available almost everyday! Give me a call for assurance.</p>
<button><a href="tel:773383476">Call Us!</a></button>

<h2>Payments</h2>
<p>Cash Only! As of April 2023, we are still not accepting other forms of payment like Zelle, Paypal, Cashapp, etc.</p -->
