<h1>Massages...</h1>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

<button><a href="/pricing">Check Out Our Pricing!<a></button>

<h2>My Mission</h2>
<p> My mission is to help clients achieve their physical, mental, and emotional well-being through the healing power of massage. My work involves understanding the needs of each client and tailoring my massage techniques to meet those needs. My ultimate goal is to help your clients improve their health and achieve greater balance in their lives.</p>

<h2>Location</h2>
<p> We are currently located in Chicago, Illinois. Book an appointment for full address.</p>
<button>
<% if @current_user == nil %>
<a href="/user_sign_in">Book an Appointment<a>
<% else %>
<a href="/appointments">Book an Appointment<a>
<% end %>
</button>


<h2>Availability</h2>
<p>Im available almost everyday! Give me a call for assurance.</p>
<button><a href="tel:773383476">Call Us!</a></button>

<h2>Payments</h2>
<p>Cash Only! As of April 2023, we are still not accepting other forms of payment like Zelle, Paypal, Cashapp, etc.</p>
